<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Technothon</title>
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
  <header>
    <div class="logo">Technothon</div>
    <nav class="navbar">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="/User_register">login/register</a>
    </div>
  </header>

  <section class="hero">
    <h1>Hero Section</h1>
  </section>


  <script src="/static/script.js"></script>
</body>
</html>
